@import "tailwindcss";
@import "tw-animate-css";


.inter {
      font-family: 'Inter', 'sans-serif';
      font-weight: 900;
      font-style: bold;
}

.reveal-up {
      opacity: 0;
      transform: translateY(100px);
      transition: opacity 0.8s cubic-bezier(.22, .9, .32, 1), transform 2s cubic-bezier(.22, .9, .32, 1);
}

.reveal-up.show {
      opacity: 1;
      transform: translateY(0);
}

@keyframes blink {

      0%,
      100% {
            opacity: 1;
      }

      50% {
            opacity: 0;
      }
}

.animate-blink {
      animation: blink 1s step-end infinite;
}